* { box-sizing: border-box; }

body {
  font-family: 'Lexend Deca';
  height: 1100px;       /* tamaño fijo */
	padding: 20px;
  /* color: rgb(255, 255, 255); */
  color: #3e3e3e;

  /* background-color: #343838; */
  /* background-color: #30243E; */
  /* background-color: #49354e; */
  /* background-color: #7e5286; */
  /* background-color: #52b8cb; */
 
  background: radial-gradient(circle, #52b8cb 44%, #b0bbf7 100%);
}

/* ---------------- button ---------------- */
li{
  display:inline-block;
}

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  /* background: #EEE; */
  /* background: #62508f; */
  background: #5d7987;

  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  /* color: #222; */
  color: #EEE;
  font-family: 'Varela Round';
  font-size: 16px;
  /* text-shadow: 0 1px white; */
  cursor: pointer;
}

.button:hover {
  /* background-color: #8CF; */
  /* background-color: #62508f; */
  background-color: #724bdf;
  /* text-shadow: 0 1px hsla(0, 0%, 100%, 0.5); */
  color: #EEE;
}

.button:active,
.button.is-checked {
  /* background-color: #28F; */
  /* background-color: #442597; */
  /* background-color: #614f8d; */
  background-color: #6642c7;
}

.button.is-checked {
  color: white;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}


/* hacer botones inabilitados */
.Disabled{
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* ---------------- button-group ---------------- */
.button-group {
  margin-bottom: 2px;
  /* display: inline-block; */
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }


/* cajas contenedoras */
#bloque-filtros{
  background-color: #c4d88c;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 0.25em;
  /* display: flex; */
}

#bloque-sorts{
  background-color: #c4d88c;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
}


/* ---------------- isotope ---------------- */
/* borde del grid: */
/* .grid {
  border: 1px solid #333;
} */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}


/* ---------------- .element-item ---------------- */
.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  /* background: #888; */
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 2px;
  top: 0px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 17px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .grade {
  position: absolute;
  right: 8px;
  top: 5px;
}



/* ---------------- items ---------------- */
/* ocultar todos los elementos de tipo div dentro de cada item */
.element-item div {
  position: absolute;
  display: none;
}

/* posicion de las imagenes de frame y background de los items */
.under {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -2;
}
.over {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

/* para agregar un tab entre los tooltip */
.tab {
  display: inline-block;
  margin-left: 10px;
}

/*para que el tooltip no se salga de la pantalla*/
.tooltip-inner {
  text-align: left;
  max-width: none;
}   


/* ---------------- titulo ---------------- */
#titulo {
  /* texto centrado y que ocupe todo el ancho */
  text-align: center;
  width:100%;
  margin-bottom: 1em;
}

#titulo > span {
  /* personalizar el interior del titulo  */
  height: 50px;
  padding: 15px;
  border-radius: 20px;
  width:100px; 
  /* background: #7b6cce; */
  background: #ffd472;
  font-weight: bold;
}
